<!DOCTYPE html>
<html lang="lt">
<head>
    <meta charset="utf-8">
    <title>Prisijungimas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&amp;display=swap" rel="stylesheet">
    <link rel="preload" as="image" href="/static/tamo.png">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="content">
    <h1>Prisijungimas prie {{ appId }}</h1>
    <a class="error">
    {% if error == "1" %}
        Neteisingas naudotojo vardas arba slaptažodis
    {% elif error == "2" %}
        Kažkas negerai, bandykite dar kartą. {{ message }}
    {% endif %}
    </a>
    <form action="/tamo/login" method="post" onsubmit="submitted()">
        <div class="form-group">
            <input type="text" name="username" placeholder="TAMO naudotojo vardas" required>
            <input type="password" name="password" placeholder="TAMO slaptažodis" required>
        </div>
        <div class="form-group">
            <input type="submit" value="Prisijungti">
            <!--<div class="lds-dual-ring"></div>-->
        </div>
    </form>
    <script>
        function submitted() {
            document.querySelector("input[type=submit]").disabled = true;
            document.querySelector("input[type=submit]").value = "Tikrinami duomenys...";
        }
    </script>
</div>
</body>
</html>